#back:hover,#back:link,#black:active,#black:visited
{
	text-decoration: none;
}
#back
{
	position: absolute;
	top: 4%;
}
#formPosition
{
	position: absolute;
	top: 25%;
	bottom: 50%;
	left: 35%;
	right: 45%;
}
#showContent
{
	border: 2px solid;
	position: absolute;
	top: 55%;
	left: 35%;
	right: 35%;
}
#refresh
{
	position: absolute;
	top: 4%;
	left: 7%;
}